/* You can add global styles to this file, and also import other style files */
@import url('bootstrap/dist/css/bootstrap.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');
@import url('bootstrap/dist/css/bootstrap.css');

h1 {
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-size:45px;
    font-weight:bold;
    margin-top: 20px;
}

body {
    background-color: rgb(224, 195, 33);
}